<h1> Popular Concerts Results </h1>
<% @popular_concerts.each do |concert| %>
	<ul>
	<li><%= link_to(concert.artist, concert_path(concert.id)) %> </li>
	</ul>
	<% end %>

<%= link_to("Back to all concerts", concerts_path)%>