<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Movie Lovers Trivia Home</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
		<link href="styles.css" rel="stylesheet">
</head>
<body>

	<h1>Welcome to Movie Lovers Trivia!</h1>

		<form action="/movie_picker" method="GET">
			<input type="text" name="movie_term" placeholder="Enter a Movie Term"> 
			

			<button type="submit" name="search">Search</button>

		</form>

		<%= @message %>
	
</body>
</html>