<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Aution Site</title>
</head>
<body>
	<h1>Welcome to Auction Site</h1>
	<%= link_to("New User", new_user_path) %>
	<%= link_to("New Product", new_user_product_path) %>
</body>
</html>