<h1> Welcome to the Auction site <%= @user.name %> </h1>

<h2> Contact: </h2>

<%= link_to "See ALL available products", products_path %> <br>

<%= link_to "See MY products", user_products_path(@user) %>