.default {
	font-family: Georgia, Cambria, "Times New Roman", Times, serif;
	text-align: center; 
	color: black;
	}

.heading {
	font-family: Calibre, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 70px;
	text-transform: uppercase;
	}

.italic {
	font-family: Calibre, "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: grey ;
	}

.title {
	font-size: 40px;
	font-weight: bold;
	color: #444;
	text-transform: uppercase;
	}

.subtitle {
	font-size: 32px;
	font-weight: bold;
	color: #444;
	}

.date {
	font-size: 18px;
	color: #777;
	}

.author {
	font-size: 20px;
	color: #c9353a;
	}

.content {
	font-size: 20px;
	color: #777;
	}

img {
	width: 50%;
	height: 750%;
	display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
	}

.list {
	list-style-type: none;
	}