<hmtl>
<head>
<title> Please Log in </title>
</head>
<body>
	<h1>Hello, Please enter Username and Password</h1>

		<form action="/profile" method="POST">
			<label for="username"> Username:</label>
			<input type="text" name="username" placeholder="Enter Username"> 
			<label for="password"> Password:</label>
			<input type="password" name="password" placeholder="Enter Password">

			<button type="submit" >Sign In</button>
		</form>

</body>
</hmtl>