<hmtl>
<head>
<title> <%= @username%>'s Profile</title>
</head>
<body>
	<h1>Welcome to <%= @username%>'s Profile</h1>

		<form action="/home" method="GET">
				<button type="submit">Log Out</button>
		</form>


</body>
</hmtl>