<hmtl>
<head>
<title> Online Calculator </title>
</head>
<body>
	<h1>Hello, Welcome to our online calculator</h1>

		<form action="/calculate" method="POST">
			<input type="number" name="first_number" placeholder="1st number"> 
			<input type="number" name="second_number" placeholder="2nd number">

			<button type="submit" name="operation" value="addition">Add</button>
			<button type="submit" name="operation" value="subtraction">Subract</button>
			<button type="submit" name="operation" value="multiplication">Multiply</button>
			<button type="submit" name="operation" value="division">Divide</button>
		</form>

</body>
</hmtl>

