<!-- <h1> Enter Link </h1>

<form  method="GET" >
							
								<input  type="text" name="url" placeholder="Enter URL"> 
								<button  type="submit" name="submit">Submit</button>
							
						</form> -->


<%= form_for @link do |f| %>
	<%= f.label :url %>
	<%= f.text_field :url %>

	<%= f.submit "Create Short Link" %>

<% end %>